body{
  font-family:Verdana, Geneva, Arial
  font-size: 12px
}
h1 {
  font-size: 2.2em
  color: #cc6600;
}
h2 {
  font-size: 1.3em;
  color: #CC6600;
  width: normal;
}
blockquote {
  font-style: italic;
}
h1,h2{
  text-decoration: underline;
  color: #CC6600;
}